/* variables */
:root {
	--primary-color: #931420;
	--accent-color: #f6bb73;
	--light-accent: #fffded;
	--light: white;
	--dark: black;
}

/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* the default styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 80%;
    margin: auto;
    border: 3px solid var(--primary-color);
}
header, section, aside, footer { padding: 1em; }
h1, h2, h3, p, article { padding-bottom: .5em; }
h1 { font-size: 150%; }
h2 { font-size: 120%; }
h3 { font-size: 110%; }
a:focus, a:hover { font-style: italic; }

/* the styles for the header */
header {
	border-bottom: 3px solid var(--primary-color);
	background-image: linear-gradient(30deg, 
		var(--accent-color) 0%, 
		var(--light-accent) 25%, 
		var(--light) 50%, 
		var(--light-accent) 75%, 
		var(--accent-color) 100%);
	& h2 {
		font-size: 175%;
		color: var(--primary-color);
		padding-bottom: 0;
	}
	& h3 {
		font-size: 130%;
		font-style: italic;
	}
	& img {
		float: left;
		margin: 0 30px;
		width: clamp(40px, 15%, 66px);
	}
}

/* the styles for the main element */
main {
	clear: left;
	display: flex;
}

/* the styles for the section */
section {
	order: 2;
	flex-basis: 75%;
	& h1 {
		color: var(--primary-color);
		margin: 0;
	}
}

/* the styles for the article */
article {
	& img {
		float: left;
		margin: .25em 1em 1em 0;
		border: 1px solid var(--dark);
		width: min(100%, 250px);
	}
}

/* the styles for the aside */
aside {
	order: 1;
	flex-basis: 25%;
	& h2 {
		color: var(--primary-color);
	}
	& img {
		margin-bottom: .9em;
	}
}

/* the styles for the footer */
footer {
	background-color: var(--primary-color);
	& p {
		text-align: center;
		color: white;
		padding-bottom: 0; 
	}
}

/* the styles for the navigation menu */
nav {
	background-color: var(--primary-color);
	& ul { 
		display: flex;
		flex-direction: column;
		list-style: none;
	}
	& a {
		display: block;
		padding: .75em;
		text-decoration: none;
		font-weight: bold;
		color: var(--light);
	}
	& a:hover {
		color: var(--accent-color);
	}
	& a.current {
		background-color: var(--accent-color);
		color: var(--dark);
	}
	& a.current:hover { 
		font-style: normal; /* override default hover effect */
	}
}
