* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    background-color: var(--secondary-color);
}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 90%;
    border: 15px double var(--primary-color);
    background-color: white;
    margin:20px auto;
    padding: 20px
}
main {
    padding: 20px;
}
footer {
    border-top: var(--primary-color);
    font-size: 90%;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
}
h1 {
    font-size: 150%;
    color: var(--primary-color);
    margin-bottom: 10px;
}
img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}
h2 {
    clear: left;
    font-size: 125%;
    margin: 10px 0;
}
h3 {
    clear: left;
    font-size: 115%;
    margin: 10px 0;
}

p {
    margin: 10px 0;

}
blockquote {
    margin: 10px 0;

}
ul {
    margin: 10px 0;

}
li {
    margin: 10px 0;

}
cite {
    color: var(--primary-color);
    font-style: normal;
    font-weight: bold;
}
:root {
    --primary-color: rebeccapurple;
    --secondary-color: aliceblue;
}